{% extends 'shared/layout.html' %}

{% block maincontent %}
<main class="piano-main">
        
    <audio class="audio_source" src=""></audio>
    <audio id="scary_audio" src="../static/piano/audio/Creepy-piano-sound-effect.mp3"></audio>
    <div class="poem-text">
        <h3>"Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we see you."</h3>
        <h2>I Have Awaken</h2>
    </div>
    <div class="piano">
        <div class="piano-text"><h2>The Great Old One</h2></div>
        <div class= "key-container" >
            <div id="key-A" class = "white-key" >
                <span class = "ktext">A</span>
            </div>

            <div id="key-W" class = "black-key" >
                <span class = "ktext">W</span>
            </div>

            <div id="key-S" class = "white-key" >
                <span class = "ktext">S</span>
            </div>

            <div id="key-E" class = "black-key" >
                <span class = "ktext">E</span>
            </div>

            <div id="key-D" class = "white-key" >
                <span class = "ktext">D</span>
            </div>

            <div id="key-F" class = "white-key" >
                <span class = "ktext">F</span>
            </div>

            <div id="key-T" class = "black-key" >
                <span class = "ktext">T</span>
            </div>

            <div id="key-G" class = "white-key" >
                <span class = "ktext">G</span>
            </div>

            <div id="key-Y" class = "black-key" >
                <span class = "ktext">Y</span>
            </div>

            <div id="key-H" class = "white-key" >
                <span class = "ktext">H</span>
            </div>

            <div id="key-U" class = "black-key" >
                <span class = "ktext">U</span>
            </div>

            <div id="key-J" class = "white-key" >
                <span class = "ktext">J</span>
            </div>

            <div id="key-K" class = "white-key" >
                <span class = "ktext">K</span>
            </div>

            <div id="key-O" class = "black-key" >
                <span class = "ktext">O</span>
            </div>

            <div id="key-L" class = "white-key" >
                <span class = "ktext">L</span>
            </div>

            <div id="key-P" class = "black-key" >
                <span class = "ktext">P</span>
            </div>

            <div id="key-SColon" class = "white-key" >
                <span class = "ktext">;</span>
            </div>

        </div>

    </div>


</main>

{% endblock %}