/* @Author: Shoimya Chowdhury */
/* header style */
.header_image{
    width: 100%;
    height: 10vh;
    background-image: url(../images/header_img.jpg);
    background-size: cover; 
    background-position: center center; 
}


/* }C:\Users\chysh\chowdh83\Homework-2\flask_app\static\main\css\header.css
C:\Users\chysh\chowdh83\Homework-2\flask_app\static\main\images\header_img.jpg */