/* @AUTHOR:SHOIMYA CHOWDHURY */
/* https://codepen.io/mutedblues/pen/MmPNPG */

a {
    color: #000;
}
h1{
    color: #000;
}
.navigation{
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 3;
    border-bottom: 1px solid black;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}
.navigation li a{
    display: block;
    padding: 15px 15px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.navigation li a:hover,
.navigation .menu-btn:hover {
  background-color: #f4f4f4;
}
.navigation .logo {
    display: block;
    float: left;
    font-size: x-medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.navigation .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.navigation .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.navigation .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.navigation .menu-icon .navicon:before,
.navigation .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.navigation .menu-icon .navicon:before {
    top: 5px;
}
  
.navigation .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.navigation .menu-btn {
    display: none;
}

.navigation .menu-btn:checked ~ .menu {
    max-height: 240px;
}
.navigation .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.navigation .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.navigation .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .navigation li {
      float: left;
    }
    .navigation li a {
      padding: 20px 30px;
    }
    .navigation .menu {
      clear: none;
      float: right;
      max-height: none;
      /* border-bottom: #000 1px solid; */
    }
    .navigation .menu-icon {
      display: none;
      
    }
    .navigation{
        border-bottom: 1px solid black;
    }
  }
  